@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-color: black;
}

.name {
    color: white;
    font-weight: 600;
    position: fixed;
    top: 6rem;
    right: 10rem;
    animation: name-animation 1000ms ease-in;
}

.name a {
    text-decoration: none;
    color: white;
}

.title {
    color: white;

    font-size: 6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    animation: title-animation 1000ms ease-in;
}

.contact {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;


}

.contact-info {
    display: flex;
    flex-direction: column;
    width: 50%;

    margin: 0 auto;
}

.contact-info h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 10px;

}

.contact-info p {
    color: white;
    font-size: 1.1rem;
    line-height: 2rem;

}

.plattforms p {

    width: 20%;
}

.plattforms {
    margin-top: 20px;
}

.plattforms a {
    text-decoration: none;
    color: red;
}

.plattforms p:hover {
    transform: translateX(-25%);
}


@keyframes title-animation {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes name-animation {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

/* media queries */
@media (max-width: 760px) {

    .title {
        font-size: 4rem;
        padding: 0px 10px;
    }

    .name {
        top: 20px;
        right: 25px;
    }

    .contact-info {
        width: 100%;
        padding: 0px 10px;
    }

    .plattforms p:hover {
        transform: translateX(0);
    }




}

@media(min-width:280px) and (max-width:375px) {
    .title {
        font-size: 4rem;
    }

    .name {
        top: 20px;
        right: 25px;
    }
}

@media (max-width:830px) {
    .name {
        top: 20px;
        right: 25px;
    }
}