@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Home Page */
.home-page {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;


}

/* image-home-page */
.image-home-page {

    flex: 1;
    background-image: url(./images/home-page-image.jpg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;

}



/* container home-page */
.container-home-page {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.firsth1,
.secondh1,
.thirdh1 {
    font-size: 9rem;
    color: white;

    text-decoration: none;



}


.firsth1 {
    /* animation: text-shadow 1.5s ease-in-out infinite; */

    color: red;
    font-weight: 900;
    line-height: 1;

    cursor: pointer;


}

.first-h1:hover {
    transform: translateX(-25%);
}


.first-h1 {
    animation: animation-loading-page 1000ms ease-in;


}


.secondh1 {
    animation: animation-loading-page2 1000ms ease-in-out 1000ms;
    animation-fill-mode: forwards;
    transform: translateX(-100%);
    opacity: 0;


    font-weight: 900;
    line-height: 1;
    cursor: pointer;


}

.thirdh1 {
    animation: animation-loading-page3 1000ms ease-in-out 2000ms;
    animation-fill-mode: forwards;
    transform: translateX(-100%);
    opacity: 0;


    font-weight: 900;
    line-height: 1;
    cursor: pointer;


}



/* KEY frames */
@keyframes animation-loading-page {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes animation-loading-page2 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }



    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes animation-loading-page3 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }



    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* media queries */
@media (max-width: 760px) {
    .firsth1 {
        font-size: 60px;
    }

    .secondh1 {
        font-size: 60px;
    }

    .thirdh1 {
        font-size: 60px;
    }

    .image-home-page {
        display: none;
    }

    .container-home-page {
        background-image: url(./images/home-page-image.jpg);
        background-size: 200%;
        background-repeat: no-repeat;
        gap: 10px;
        justify-content: center;
        align-items: start;





    }


}

@media(min-width:280px) and (max-width:375px) {


    .firsth1 {
        font-size: 40px;
    }

    .secondh1 {
        font-size: 40px;
    }

    .thirdh1 {
        font-size: 40px;
    }

    .image-home-page {
        display: none;
    }

    .container-home-page {
        background-image: url(./images/home-page-image.jpg);
        background-size: 200%;
        background-repeat: no-repeat;
        gap: 10px;
        justify-content: center;
        align-items: start;





    }

}