@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vwa;

    background-color: black;
}

.name {
    color: white;
    font-weight: 600;
    position: fixed;
    top: 6rem;
    right: 10rem;
    animation: name-animation 1000ms ease-in;
}

.name a {
    text-decoration: none;
    color: white;
}

.title {
    color: white;

    font-size: 6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    animation: title-animation 1000ms ease-in;
}




/* Portfolio Section */

.portfolio-section {
    height: 100%;
    background-color: black;
    padding: 60px;
}

/* * cards --> portfolio section */
.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    height: 80vh;
    padding: 100px;
}

.card-principal {
    height: 70%;
    width: 80%;
    background-color: black;

    border-radius: 20px;

}

.card-title,
.description {
    color: white;


}

.card-title a {
    color: white;
    text-decoration: none;

}

.card-title a:hover {
    text-decoration: underline;
}

.card-title {
    padding-left: 10px;
}

.description {
    padding-top: 10px;
    padding-left: 10px;

    width: 100%;
}



.cardToHide {
    height: 20%;
    width: 25%;
    background-image: url(../images/rock-papaer-scissors.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: absolute;
    transition: height 1s;



}

.cardToHide1 {
    height: 20%;
    width: 25%;
    background-image: url(../images/solar-website-image.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: absolute;
    transition: height 1s;



}

.cardToHide2 {
    height: 20%;
    width: 25%;
    background-image: url(../images/Ecomerce-website.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: absolute;
    transition: height 1s;



}

.cardToHide3 {
    height: 20%;
    width: 25%;
    background-image: url(../images/Glass-Website.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: absolute;
    transition: height 1s;



}

.cardToHide4 {
    height: 20%;
    width: 25%;
    background-image: url(../images/hero-website.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: absolute;
    transition: height 1s;



}

.cardToHide5 {
    height: 20%;
    width: 25%;
    background-image: url(../images/Bootstrap-website-image.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: absolute;
    transition: height 1s;



}




.card-principal:hover .cardToHide {
    height: 0px;
}

.card-principal:hover .cardToHide1 {
    height: 0px;
}

.card-principal:hover .cardToHide2 {
    height: 0px;
}

.card-principal:hover .cardToHide3 {
    height: 0px;
}

.card-principal:hover .cardToHide4 {
    height: 0px;
}

.card-principal:hover .cardToHide5 {
    height: 0px;
}

/* test */

@keyframes reduce-height {
    0% {
        height: 185px;
    }

    50% {
        height: 40px;
    }

    100% {
        height: 0px;
    }
}

@keyframes title-animation {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes name-animation {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

/* media queries */



/* phones */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:portrait) {
    .name {
        top: 5px;
        right: 5px;
    }


    .about-section {
        justify-content: center;
        align-items: center;
        height: 30vh;

    }


    /* .card-title,
    .description {
        background-color: aqua;
        width: 100%;
    } */

    .card-principal:checked .cardToHide {
        height: 0px;
    }

    .cardToHide,
    .cardToHide1,
    .cardToHide2,
    .cardToHide3,
    .cardToHide4,
    .cardToHide5 {
        width: 90%;
        height: 8rem;



    }




    .card-principal {

        width: 100%;

        height: 100%;

        padding: 10px;

    }

    .portfolio-section {
        height: 100%;
    }

    .title {
        font-size: 3rem;

    }


    .cards-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        padding: 10px;
        row-gap: 40px;
        height: 100%;

        justify-content: center;
        align-items: center;
    }

    .portfolio-section {
        padding: 55px 0px;
        min-height: 100vh;
        background-color: black;
    }
}



/* phones lanscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .name {
        top: 5px;
        right: 10px;
    }


    .about-section {
        justify-content: center;
        align-items: center;
        height: 100vh;

    }




    .cardToHide,
    .cardToHide1,
    .cardToHide2,
    .cardToHide3,
    .cardToHide4,
    .cardToHide5 {
        width: 40%;
        height: 8rem;
        padding: 0px;




    }




    .card-principal {

        width: 100%;

        height: 100%;

        padding: 10px 30px;

    }

    .portfolio-section {
        height: 100%;
    }

    .title {
        font-size: 3rem;

    }


    .cards-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 0px 30px;
        row-gap: 80px;
        height: 100%;

        justify-content: center;
        align-items: center;
    }

    .portfolio-section {
        padding: 55px 0px;
        min-height: 100vh;
        background-color: black;
    }



}

/* IPAD MEDIA QUERIES */

/* Ipad air and mini  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .name {
        top: 10px;
        right: 15px;
        font-size: x-large;
    }


    .about-section {
        justify-content: center;
        align-items: center;
        height: 100vh;

    }




    .cardToHide,
    .cardToHide1,
    .cardToHide2,
    .cardToHide3,
    .cardToHide4,
    .cardToHide5 {
        width: 45%;
        height: 15%;
        padding: 0px;




    }




    .card-principal {

        width: 100%;

        height: 100%;

        padding: 10px;

    }

    .portfolio-section {
        height: 100%;
    }

    .title {
        font-size: 3rem;

    }


    .cards-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 10px;
        row-gap: 80px;
        height: 100%;

        justify-content: center;
        align-items: center;
    }

    .portfolio-section {
        padding: 55px 0px;
        min-height: 100vh;
        background-color: black;
    }




}

/* ipad pro 12.9 media queries with orientation too */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
    .name {
        top: 10px;
        right: 15px;
        font-size: x-large;
    }


    .about-section {
        justify-content: center;
        align-items: center;
        height: 100vh;

    }




    .cardToHide,
    .cardToHide1,
    .cardToHide2,
    .cardToHide3,
    .cardToHide4,
    .cardToHide5 {
        width: 45%;
        height: 15%;
        padding: 0px;




    }




    .card-principal {


        width: 100%;

        height: 100%;

        padding: 10px;

    }

    .portfolio-section {
        height: 100%;
    }

    .title {
        font-size: 3rem;

    }


    /* .cards-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 10px;
        row-gap: 150px;
        height: 100%;

        justify-content: center;
        align-items: center;
    } */

    .portfolio-section {
        padding: 55px 0px;
        min-height: 100vh;

    }



}