@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* mobile div */
.mobile-div {
    display: none;

}


/* Home Page */
.home-page {
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;
    display: flex;


}

/* image-home-page */
.image-home-page {

    flex: 1;
    background-image: url(../images/home-page-image.jpg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;

}



/* container home-page */
.container-home-page {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.firsth1,
.secondh1,
.thirdh1 {
    font-size: 9rem;
    color: white;

    text-decoration: none;



}


.firsth1 {
    /* animation: text-shadow 1.5s ease-in-out infinite; */

    color: red;
    font-weight: 600;
    line-height: 1;

    cursor: pointer;


}

.first-h1:hover {
    transform: translateX(-25%);

}


.first-h1 {
    animation: animation-loading-page 1000ms ease-in;


}


.secondh1 {
    animation: animation-loading-page2 1000ms ease-in-out 1000ms;
    animation-fill-mode: forwards;
    transform: translateX(-100%);
    opacity: 0;


    font-weight: 600;
    line-height: 1;
    cursor: pointer;


}

.secondh1:hover {
    transform: translateX(-45%);

}

.thirdh1 {
    animation: animation-loading-page3 1000ms ease-in-out 2000ms;
    animation-fill-mode: forwards;
    transform: translateX(-100%);
    opacity: 0;


    font-weight: 600;
    line-height: 1;
    cursor: pointer;


}



/* KEY frames */
@keyframes mobile-animation {
    0% {
        transform: translateY(0px);
    }



    100% {
        transform: translateY(-8px);

    }
}

@keyframes animation-loading-page {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes animation-loading-page2 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }



    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes animation-loading-page3 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }



    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}


/* media queries */
/* cellphone media queries test */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .mobile-div {
        color: white;
        position: absolute;
        top: 25px;
        left: 40%;
        animation: mobile-animation .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
        animation-iteration-count: infinite;
        display: block;
    }


    .firsth1,
    .secondh1,
    .thirdh1 {
        font-size: 60px;

    }



    .image-home-page {
        display: none;
    }

    .container-home-page {
        background-image: url(../images/home-page-image.jpg);
        background-size: 200%;
        background-repeat: no-repeat;
        gap: 10px;
        justify-content: center;
        align-items: start;
        padding-left: 20px;





    }

}

/* galaxy fold media queries */
@media only screen and (max-width: 280px) {
    .image-home-page {
        background-position: center;
        background-size: cover;


    }

    .firsth1,
    .secondh1,
    .thirdh1 {
        font-size: 60rem;

    }
}


/* portrait cellphones iphones */
@media only screen and (max-width: 915px) {

    .firsth1,
    .secondh1,
    .thirdh1 {
        font-size: 4rem;

    }

    .mobile-div {
        color: white;
        position: absolute;
        top: 25px;
        left: 45%;
        animation: mobile-animation .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
        animation-iteration-count: infinite;
        display: block;
    }
}

/* ipad mini and air media queries */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .container-home-page {
        gap: 20px;

    }

    .image-home-page {
        background-position: center;
        background-size: cover;
    }

    .firsth1,
    .secondh1,
    .thirdh1 {
        font-size: 6rem;

    }
}



/* ipad pro 12.9 media queries with orientation too */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {


    /* image */
    .image-home-page {

        background-position: center;
        background-size: cover;
    }

    .mobile-div {
        color: white;
        position: absolute;
        font-size: larger;
        top: 25px;
        left: 48%;
        animation: mobile-animation .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
        animation-iteration-count: infinite;
        display: block;
    }
}